<div class="third-header">

  <h1 id="page_title"><%= link_to "Return Home", root_path, class: "name" %></h1>

  <div class="skinny_wrapper wrapper_padding contact_message">
    <h1>Thanks for the message!</h1>
    <p>I'll get back to you ASAP!</p>
  </div>
</div>