@font-face {
  font-family: "bellaboo";
  src: url("../fonts/BELLABOO-Regular.ttf");
}

@font-face {
  font-family: "bellaboo";
  src: url("BELLABOO-Regular.ttf");
}

@font-face {
  font-family: bellaboo;
  src: url("BELLABOO-Regular.ttf");
}
@font-face {
  font-family: bellaboo;
  src: url("../fonts/BELLABOO-Regular.ttf");
}
@font-face {
  font-family: "bellaboo";
  src: url("../fonts/BELLABOO-Regular.ttf");
}
@font-face {
  font-family: "bellaboo";
  src: url("fonts/BELLABOO-Regular.ttf");
}
