@font-face {
  font-family: "bellaboo", Raleway;
  src: url("../fonts/BELLABOO-Regular.ttf");
}

@font-face {
  font-family: "bellaboo", Raleway;
  src: url("BELLABOO-Regular.ttf");
}

@font-face {
  font-family: bellaboo, Raleway;
  src: url("BELLABOO-Regular.ttf");
}
@font-face {
  font-family: bellaboo, Raleway;
  src: url("../fonts/BELLABOO-Regular.ttf");
}
@font-face {
  font-family: "bellaboo", Raleway;
  src: url("../fonts/BELLABOO-Regular.ttf");
}
@font-face {
  font-family: "bellaboo", Raleway;
  src: url("fonts/BELLABOO-Regular.ttf");
}
