.col-1, .col-2, .col-3 {
  float: left;
}
.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }
  p {
    margin: 0 0 .75em 0;
  }
  .about {
    padding: 0 7.5% 0 0;
  }
}

#name {
  // text-align: center;
  text-decoration: none;
  color: white;
  font-family: "bellaboo", Lobster;
  // font-size: 4em;
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 35px;
}

// #name-xs {
//   // text-align: center;
//   text-decoration: none;
//   color: white;
//   font-family: "bellaboo";
//   font-size: 3em;
//   margin-top: 5px;
// }

.tech-used {
  color: #EA2343;
}

.last {
  margin-bottom: 30px;
}
.about {
  text-align: center;
  font-family: "bellaboo", Raleway;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
  // margin-top: -50px;
  p {
    color: white;
  }
}

#intro img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-top: -10px;
  margin-left: auto;
  // vertical-align: middle;
  margin-right: auto;
  // padding-top: 7rem;
}

#intro {
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 2rem;
}

#large-header {
  // background-image: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740");   
  // background: #1D976C; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #1D976C , #93F9B9); Chrome 10-25, Safari 5.1-6 
  // background: linear-gradient(to left, #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740);
  background-size: 100% 100%;
  height: 750px;
  // height: 750px;
  // padding: 10rem 0;
  background-repeat: no-repeat;
  position: relative;
}

#projects {
  padding-top: 3.5rem;
  text-align: center;
}

.project-text {
  display: inline;
  margin: 10px;

  // border: 1px solid #73AD21;
  a {
    font-family: 'Lobster', cursive;
    // clear: both;
    color: #EA2343;
    text-decoration: none;
    font-size: 2rem;
    &:hover {
      color: #8bc6db;
    }
  }
  p {
    font-family: Raleway;

  }
}
.imac-img {
  padding-top: 10px;
  float: left;
  margin: 10px;
  margin-right:-10px;

  // border: 1px solid #73AD21;
  // img {
  //   height: 25em;
  //   width: 36em;
  // }
}

.red-hr {
  width: 15em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid red;
  margin: auto;
  margin-top: 40px;
}

.second-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1421987392252-38a07781c07e?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: 100% 100%;
  height: 750px;
  // height: 750px;
  // padding: 10rem 0;
  background-repeat: no-repeat;
  position: relative;
}

.third-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: 100% 100%;
  height: 750px;
  // height: 750px;
  // padding: 10rem 0;
  background-repeat: no-repeat;
  position: relative;
}

.contact_message {
  font-family: "bellaboo";
  text-align: center;
  letter-spacing: 5px;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}

#page_title {
  a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $highlight;
    }
  }
}

// Blog show page back button
.back {
  text-decoration: none;
  font-family: Raleway;
  margin-bottom: 50px;
  &:hover {
    color: $highlight;
  }
}


// Back to top button
.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 110px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Red_Arrow_Up.png") no-repeat center;
  background-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.imac-img {
  display: flex;
  width: 40%;
  @media(max-width: 1001px) {
    width: 100%;
  }
  img {
    width: 34vw;
    height: 100%;
    min-height: 225px;
    max-height: 305px;
    min-width: 405px;
    max-width: 480px;
    @media(max-width: 1001px) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    @media(max-width: 700px) {
      width: 80%;
    }
  }
}
.text-project {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 25px;
  a {
    font-family: 'Lobster', cursive;
    // clear: both;
    color: #EA2343;
    text-decoration: none;
    font-size: 2rem;
    &:hover {
      color: #8bc6db;
    }
  }
  p {
    font-family: Raleway;

  }
  @media (max-width: 1001px) {
    width: 75%;
  }
}

.title {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.flex-row.first {
  position: absolute;
  left: 100%;
  height: 100vh;

  img {
    width: 34vw;
    height: 100%;
    min-height: 225px;
    max-height: 305px;
    min-width: 405px;
    max-width: 480px;
    @media(max-width: 1001px) {
      width: 50%;
      // margin-left: auto;
      // margin-right: auto;
    }
    @media(max-width: 700px) {
      width: 80%;
    }
  }
}

.red-hr.first {
  position: absolute;
  top: 550px;
}
.flex-row.second {
  position: absolute;
  top: 600px;
}

.flex-row.last {
  position: absolute;
  top: 1500px;
}








