.col-1, .col-2, .col-3 {
  float: left;
}
.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }
  p {
    margin: 0 0 .75em 0;
  }
  .about {
    padding: 0 7.5% 0 0;
  }
}

#name {
  // text-align: center;
  text-decoration: none;
  color: white;
  font-family: "bellaboo", Lobster;
  // font-size: 4em;
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 35px;
}

// #name-xs {
//   // text-align: center;
//   text-decoration: none;
//   color: white;
//   font-family: "bellaboo";
//   font-size: 3em;
//   margin-top: 5px;
// }

.tech-used {
  color: #EA2343;
}

.last {
  margin-bottom: 30px;
}
.about {
  text-align: center;
  font-family: "bellaboo", Raleway;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
  // margin-top: -50px;
  p {
    color: white;
  }
}

#intro img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-top: -10px;
  margin-left: auto;
  // vertical-align: middle;
  margin-right: auto;
  // padding-top: 7rem;
}

#intro {
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 2rem;
}

#large-header {
  // background-image: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740");   
  // background: -webkit-linear-gradient(to left, #1D976C , #93F9B9); Chrome 10-25, Safari 5.1-6 
  // background: linear-gradient(to left, #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740);
  background-image: url('space.jpg');
  background-size: 100% 100%;
  height: 750px;
  // height: 750px;
  // padding: 10rem 0;
  background-repeat: no-repeat;
  position: relative;
}

#projects {
  padding-top: 3.5rem;
  text-align: center;
}

.project-text {
  display: inline;
  margin: 10px;

  // border: 1px solid #73AD21;
  a {
    font-family: 'Lobster', cursive;
    // clear: both;
    color: #EA2343;
    text-decoration: none;
    font-size: 2rem;
    &:hover {
      color: #8bc6db;
    }
  }
  p {
    font-family: Raleway;

  }
}
.imac-img {
  padding-top: 10px;
  float: left;
  margin: 10px;
  margin-right:-10px;

  // border: 1px solid #73AD21;
  // img {
  //   height: 25em;
  //   width: 36em;
  // }
}

.red-hr {
  width: 15em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid red;
  margin: auto;
  margin-top: 40px;
}

.second-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1421987392252-38a07781c07e?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: 100% 100%;
  height: 750px;
  // height: 750px;
  // padding: 10rem 0;
  background-repeat: no-repeat;
  position: relative;
}

.third-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);
  background-size: 100% 100%;
  height: 750px;
  // height: 750px;
  // padding: 10rem 0;
  background-repeat: no-repeat;
  position: relative;
}

.contact_message {
  font-family: "bellaboo";
  text-align: center;
  letter-spacing: 5px;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}

#page_title {
  a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $highlight;
    }
  }
}

// Blog show page back button
.back {
  text-decoration: none;
  font-family: Raleway;
  margin-bottom: 50px;
  &:hover {
    color: $highlight;
  }
}


// Back to top button
.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 110px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/Red_Arrow_Up.png") no-repeat center;
  background-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.imac-img {
  display: flex;
  width: 40%;
  @media(max-width: 1001px) {
    width: 100%;
  }
  img {
    width: 95%;
    height: 30%;
    @media(max-width: 1001px) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    @media(max-width: 700px) {
      width: 80%;
    }
  }
}
.text-project {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 25px;
  a {
    font-family: 'Lobster', cursive;
    // clear: both;
    color: #EA2343;
    text-decoration: none;
    font-size: 2rem;
    &:hover {
      color: #8bc6db;
    }
  }
  p {
    font-family: Raleway;

  }
  @media (max-width: 1001px) {
    width: 75%;
  }
}

.title {
  text-align: center;
  font-family: 'Lobster', cursive;

}

///Demo.css
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
  background: #fff;
  color: #383a3c;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
  font-family: 'Raleway', Calibri, Arial, sans-serif;
}

a, button {
  outline: none;
}

a {
  color: #566473;
  text-decoration: none;
}

a:hover, a:focus {
  color: #34495e;
}

section {
  padding: 1em;
  text-align: center;
}

p.ref {
  text-align: center;
  padding: 2em 1em;
}

/* Header */
.codrops-header {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  max-width: 900px;
}

.codrops-header h1 {
  margin: 0;
  font-size: 4.5em;
  line-height: 1;
  font-weight: 200;
}

.codrops-header h1 span {
  display: block;
  padding: 1em 0 1.5em;
  font-size: 36%;
  color: #95a5a6;
  line-height: 1.4;
}

/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  text-align: center;
  padding: 3em 0;
}

.codrops-top a {
  display: inline-block;
  padding: 1.5em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.8em;
}

.codrops-demos a {
  display: inline-block;
  margin: 0.35em 0.1em;
  padding: 0.5em 1.2em;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 2px;
  font-size: 110%;
  border: 2px solid transparent;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
  border-color: #383a3c;
}

.codrops-demos h3 {
  margin: 0;
  padding: 1em 0 0.5em 0;
  font-size: 0.9em;
  float: left;
  min-width: 90px;
  clear: left;
}

.codrops-demos div:not(:first-child) h3 {
  padding-top: 2em;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
  color: inherit;
  border-color: initial;
}

/* Related demos */
.related {
  padding: 10em 0;
}

.related p {
  font-size: 1.5em;
}

.related > a {
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
  vertical-align: middle;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
  border-radius: 10px;
}

.related a:hover img,
.related a:active img {
  opacity: 1;
}

.related a h3 {
  margin: 0;
  min-height: 63px;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
}

@media screen and (max-width: 40em) {

  .codrops-header h1 {
    font-size: 2.5em;
  }
}
